extends ../layouts/default

block body
    #main-container
        #sidebar
            include ../includes/sidebar
        #main-area
            form#domain-settings-form(data-domain=domain)
                h4=domain

                hr
                label(for='domain-price-input') Price, $
                input#domain-price-input(type='text', value= price, disabled=true)
                hr
                include ../includes/domainAEntries
                hr
                input#save-domain-settings-button(type='submit', value='Save')
        #right-bar