extends ../layouts/default

block body
    #breadcrumb
        include ../includes/breadCrumb
    #main-container
        #sidebar
            include ../includes/domainEditSidebar
        #main-area

            form#edit-domain-form(data-name=domain)
                h4= domain

                input#show-domain-checkbox(type='checkbox', checked=isDomainVisible)
                label(for='show-domain-checkbox') Show

                include ../includes/priceArea
                include ../includes/discountArea
                include ../includes/tagsArea

                if(nameServers.length)
                    include ../includes/nameServersList

                input#save-domain-settings-button(type='submit',value='Save')
                input#delete-domain-button(type='button',value='Delete domain')




        #right-bar