extends ../layouts/default

block body
    include ../includes/searchBar
    #main-container
        #sidebar
            include ../includes/sidebar
        #main-area
            include ../includes/homeListing
        #right-bar