extends ../layouts/default

block body
    include ../includes/searchBar
    #main-container
        #sidebar
            include ../includes/sidebar
        #main-area
            include ../includes/listing
            include ../includes/pager
        #right-bar