extends ../layouts/blank

block body
    include ../includes/searchBar
    #main-container
        #sidebar
            include ../includes/sidebar
        #main-area
            p not found
        #right-bar