extends ../layouts/default

block body
    include ../includes/searchBar
    #main-container
        #sidebar
            include ../includes/sidebar
        #main-area
            if domainsAvailable.length > 0
                p= domainsAvailable.length + ' search results for ' + query
                include ../includes/listing
            else
                p= 'No results found for ' + query
        #right-bar