.b-records-list-header
    background rgba(0, 0, 0, 0.1)
    display flex
    font-size 0.8em

    div
        flex-grow 1
        flex-basis 100px
        overflow hidden
        text-overflow ellipsis

        &.header-type
            flex-basis 60px

        &.header-value
            flex-basis 200px

        &.header-ttl
            flex-basis 60px

        &.header-weight
            flex-basis 60px

        &.header-setid
            flex-basis 60px