.b-subscription-record-form-container
    margin-left 20px
    background rgba(100, 50, 0, 0.05)
    padding 20px

    .b-subscription-record-form
        border-top 1px solid rgba(0, 0, 0, 0.4)
        margin-top 20px
        padding-top 20px

        submit
            background green
            color white
            display inline-block
            padding 10px