.b-subscription-config-area
    display flex
    .b-subscription-config-sidebar
        flex-grow 1
        min-width 200px
        padding 20px
        margin-right 20px
        background rgba(0, 0, 0, 0.1)

    .b-subscription-config-mainview
        display flex
        padding 0
        flex-grow 4
