.b-app-status-info
    display flex
    flex-direction row
    padding 10px
    background rgba(0, 0, 0, 0.1)
    color rgba(0, 0, 0, 0.6)
    position fixed
    bottom 0
    left 0
    right 0
    font-size 0.8em
    border-top 1px solid rgba(0, 0, 0, 0.1)

    div
        flex-grow 1
        text-align center

        span
            font-weight bolder