.b-profile-top-bar-container
    display flex

    a
        text-decoration none
        display inline-block
        line-height 80px
        padding 0 20px
        height 80px
        color rgba(#000, 0.9)
        &:hover
            color rgba(#187, 1)