.b-profile-top-bar-container
    display flex

    a
        text-decoration none
        display inline-block
        line-height 80px
        padding 0 20px
        height 80px
        color rgba(#000, 0.9)
        &:hover
            color rgba(#187, 1)

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)
    .b-profile-top-bar-container
        flex-direction column
        height auto
        background rgba(0, 0, 0, 0.05)
        margin-bottom 10px
        a
            height 40px
            line-height 40px