.b-subscription-config-area
    display flex
    background rgba(0, 0, 0, 0.2)
    .b-subscription-config-sidebar
        background rgba(0, 0, 0, 0.2)
        flex-grow 1
        min-width 200px
    .b-subscription-config-mainview
        background rgba(0, 0, 0, 0.3)
        flex-grow 4
