.b-top-bar-container
    background-color #0d3243
    display flex

    .left-area
        flex-grow 1
    .right-area
        flex-grow 0

    .left-area
    .right-area
        a
            font-size 0.9em
            text-decoration none
            display inline-block
            line-height 60px
            padding 0 20px
            height 60px
            color rgba(white, 0.9)
            &:hover
                color rgba(white, 1)

    .b-top-bar-container__domain-add-link
        background rgba(#1abf6a, 0.2)
        height 50px
        line-height 50px

//margin-top 15px