#breadcrumb-container
    padding 20px 0 40px 20px
    line-height 1
    a
        color #333
        text-decoration none
    i.separator
        margin 0 10px
        color rgba(0, 0, 0, 0.5)
        font-style normal
    .current-page-label
        color deeppink
        cursor default