ul#available-domains-list
    li
        display block
        border-bottom 1px solid rgba(0, 0, 0, 0.1)
        transition background-color 0.1s ease
        a
            padding 20px
            display flex
            text-decoration none
            .column-domain-label
                font-weight bold
                color #396bc8
                margin 0
                flex-grow 1
                flex-basis 80px
            .column-domain-price
                font-weight normal
                color gray
                flex-grow 1
                flex-basis 80px
            .column-domain-period
                font-weight normal
                color gray
                flex-grow 1
                flex-basis 80px
        &.my-domain
            background rgba(green, 0.05)
            a
                .column-domain-label
                    color green
        &:last-child
            border none
        &:hover
            background rgba(#396bc8, 0.03)

ul#rented-domains-list
    margin-top 40px
    li
        display block
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
        padding 10px
        a
            display flex
            text-decoration none
            &:hover
                color #0b4324
            .column-domain-label
                font-weight bold
                color #3264c8
                margin 0 0 3px 0
                flex-grow 1
                flex-basis 80px
            .column-domain-price
                font-weight normal
                color gray
                flex-grow 1
                flex-basis 80px
            .column-domain-period
                font-weight normal
                color gray
                flex-grow 1
                flex-basis 80px
        &.my-domain
            background rgba(green, 0.05)
