#main-container
    display flex
    #sidebar
        flex-grow 2
        flex-basis 200px
    #main-area
        flex-grow 8
        flex-basis 500px
    #right-bar
        flex-grow 1
        flex-basis 50px
