#domains-listing-header-container
    display flex
    flex-direction row
    background-color #0d3243
    color #fff
    font-weight bolder
    .column-domain-label
        padding-left 20px
        flex-grow 1
        flex-basis 80px
        line-height 3em
    .column-price
        flex-grow 1
        flex-basis 80px
        line-height 3em
    .column-period
        flex-grow 1
        flex-basis 80px
        line-height 3em