#name-servers-list-container
    width 30%
    ul#name-servers-list
        li
            display flex
            margin 0 0 10px 0
            input.nameserver-input
                flex-grow 2
                display block
                width 50%
                box-sizing border-box
                padding 10px
                background rgba(0, 0, 0, 0.05)
                border 1px solid rgba(0, 0, 0, 0.1)
                margin-right 10px
                color rgba(0, 0, 0, 0.8)
            button.copy-to-clipboard-button
                cursor pointer
                outline none
                background rgba(0, 0, 0, 0.05)
                border none
                flex-grow 0
                width 40px
                &:hover
                    background rgba(0, 150, 0, 0.1)
                    i
                        color rgba(0, 0, 0, 0.9)
                i
                    font-size 0.9em
                    color rgba(0, 0, 0, 0.5)