.sidebar-container
    padding 10% 0 0 0
    ul.criteria-list
        margin 0 0 20px 0
        li
            padding 0 0 0 10%
            line-height 2em
            color rgba(0, 0, 0, 0.7)
            font-size 1em
            i
                font-size 0.9em
                margin-right 5px
                color rgba(0,0,0,0.3)
            &.selected
                i
                    color #258b25
        li.title
            font-weight bold
        li.more-link
            color #ff5238
            font-size 0.9em