#topbar
    background-color #0d3243
    display flex

    .left-area
        flex-grow 1
    .right-area
        flex-grow 0

    .left-area
    .right-area
        a
            text-decoration none
            display inline-block
            line-height 80px
            padding 0 20px
            height 80px
            color rgba(white, 0.9)
            &:hover
                color rgba(white, 1)
    #domain-add-link
        background #1abf6a
        height 50px
        line-height 50px
        margin-top 15px