doctype html
html
    head
        title= pageTitle
        meta(name='page', content= pageName)
        link(href='/style.css' media='all' rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' media='all' rel='stylesheet')
    body
        block body