.sidebar-container
    ul.criteria-list
        li.title Recent domains
        li <i class="material-icons">check</i> francesco.info
        li <i class="material-icons">check</i> zelma.net
        li.selected <i class="material-icons">check</i> royce.biz
        li.selected <i class="material-icons">check</i> michelle.info
        li <i class="material-icons">check</i> sadie.name
        li <i class="material-icons">check</i> dianna.org
        li.more-link See all

    ul.criteria-list
        li.title Quick Tools
        li <i class="material-icons">check</i> Add a domain
        li <i class="material-icons">check</i> Show discounted domains