#add-domain-container
    h1 Add Domain
    form#add-domain-form
        input#domain-name-input(type='text', placeholder='domain name',autocomplete='off')
        input#domain-price-input(type='number', placeholder='price', autocomplete='off')
        input#domain-tags-input(type='text', placeholder='tags, comma separated', autocomplete='off')
        p.domain-add-notes When you click 'Add' button, domain will be saved but not published on the market.
        input#domain-name-submit(type='submit', value='Add')