ul#user-domains-list
    .domains-list
        include listingHeader
        ul#available-domains-list
            each domain in domains
                li
                    a(href= domain.domainEditUrl)
                        .column-domain-label= domain.name
                        .column-domain-price= '$' + domain.price
                        .column-domain-period= domain.period + ' months'
