#search-bar-container
    form(action='/search')#search-bar-form
        input#search-bar-input(type='text', name='q', placeholder='domain name', value=query)
        button#search-bar-submit(type='submit') <i class="material-icons">search</i>