.sidebar-container
    ul.criteria-list
        li.title Categories
        li <i class="material-icons">check</i> Acronyms
        li <i class="material-icons">check</i> Advertising
        li <i class="material-icons">check</i> Auto
        li <i class="material-icons">check</i> Business
        li <i class="material-icons">check</i> Education
        li <i class="material-icons">check</i> Entertainment
        li.more-link More

    ul.criteria-list
        li.title Price
        li <i class="material-icons">check</i> Under $25
        li <i class="material-icons">check</i> $25 to $50
        li.selected <i class="material-icons">check</i> $50 to $100
        li <i class="material-icons">check</i> $100 to $200
        li <i class="material-icons">check</i> Over $200

    ul.criteria-list
        li.title Content
        li <i class="material-icons">check</i> Hyphens
        li <i class="material-icons">check</i> Numbers