#topbar
    .left-area
        a#home-link(href='/') <i class="material-icons">bookmark</i>
        a#domains-link(href='/domains') Domains
        a#domains-featured-link(href='/domains/featured') Featured
    .right-area
        a#login-link(href='/login')= userId ? userId : 'Login'