#topbar
    .left-area
        a#home-link(href='/') <i class="material-icons">bookmark</i>
        a#domains-link(href='/domains') Domains
        a#domains-featured-link(href='/domains/featured') Featured
        a#domain-add-link(href='/domain/addDomain') Add Domain
    .right-area
        a#profile-link(href='/profile')= userId
        a#logout-link(href='/logout') Logout